
#d3frame{
	max-width: 700px;
	max-height: 500px;
	overflow: scroll;
}

.links line {
  stroke: #aaa;
}

.gLink {
	stroke: #aaa;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.cursor {
  fill: none;
  stroke: #aaa;
  pointer-events: none;
}

#submitnew{
	background-color: red;
}

#adjacentblocks{
	display: inline-block;
}